@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebedf5;
  --foreground: #191d20f2;
  --foreground-secondary: #434c53b2;
  --foreground-error: #C73E59F2;
  --foreground-interactive-disabled: #434C5366;

  --border-primary: #434c5326;
  --border-interactive-active: #5792FFA6;
  --border-error: #C73E59A6;

  --button-bg-primary: #2973ffd9;
  --button-bg-primary-hover: #2470ffeb;
  --button-bg-primary-focus: #2973ffd9;
  --button-bg-primary-progress: #2470ffbf;
  --button-bg-primary-disabled-error: #2470ff66;
  --button-bg-secondary: #191d200f;

  --button-text-primary: #ffffff;
  --button-text-secondary: #191d20f2;

  --input-text-bg: #191d2008;
  --input-text-bg-hover: #191d2014;
  --input-text-bg-focus: #191d201a;
  --input-text-bg-error: #191D2008;

  --base-component-bg: #fafcff;
  --base-component-bg-hover: #ebedf5;

  --font-size-body-s: 13px;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.background-base {
  background: var(--background);
}

.border-primary {
  border-style: solid;
  border-color: var(--border-primary);
  border-width: 0.5px;
}

header {
  @apply flex justify-between items-center px-10 py-3 background-base border-primary;
  backdrop-filter: blur(100px);
}

header .title {
  @apply inline-flex items-center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

main {
  @apply flex flex-col justify-center items-center h-[calc(100vh-56px)];
}

/* Button Component */
.button {
  @apply flex items-center;
  padding: 5px 8px;
  gap: 2px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.button[data-variant="primary"] {
  background-color: var(--button-bg-primary);
  font-size: var(--font-size-body-s);
  line-height: 24px;
  color: var(--button-text-primary);
}

.button[data-variant="primary"]:hover {
  background-color: var(--button-bg-primary-hover);
}

.button[data-variant="primary"]:focus {
  background-color: var(--button-bg-primary-focus);
}

.button[data-variant="primary"]:disabled {
  background-color: var(--button-bg-primary-disabled-error);
}

.button[data-variant="primary"][data-error="true"] {
  background-color: var(--button-bg-primary-disabled-error);
}

.button[data-variant="primary"][data-progress="true"] {
  background-color: var(--button-bg-primary-progress);
}

.button[data-variant="secondary"] {
  background-color: var(--button-bg-secondary);
  color: var(--button-text-secondary);
  line-height: 16px;
}
/* End of Button Component */

/* Card Component */
.card {
  @apply flex flex-col items-center gap-8 px-10 py-6 border-primary;
  background-color: var(--base-component-bg);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 0px 20px 0px 20px;
  gap: 50px;
  opacity: 0px;
  box-shadow: 0px 3px 12px 0px #00000017;
}
/* End of Card Component */

/* Input Text Component */
.input-text {
  @apply flex flex-col gap-2 w-full;
}

.input-text > span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--foreground-secondary);
}

.input-text > .input-container {
  @apply relative w-full;
}

.input-text > .input-container > input[type="text"] {
  width: 100%;
  padding: 8px 12px 8px 10px;
  gap: 10px;
  border-radius: 6px;
  background-color: var(--input-text-bg);

  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  outline: none;
  color: var(--foreground-secondary);
}

.input-text > .input-container > input[type="text"]:hover {
  background-color: var(--input-text-bg-hover);
}

.input-text > .input-container > input[type="text"]:is(:focus, :focus-visible) {
  background-color: var(--input-text-bg-focus);
  border: 1px solid var(--border-interactive-active);
}

.input-text > .input-container > input[type="text"][data-error="true"] {
  background-color: var(--input-text-bg-error);
  border: 1px solid var(--border-error);
  color: var(--foreground-error);
}

.input-text > .input-container > input[type="text"][data-error="true"]::placeholder {
  color: var(--foreground-error);
}

.input-text > .input-error {
  @apply text-right;
  color: var(--foreground-error);
}

.input-text > .input-container > .input-icon {
  @apply absolute top-2 right-3;
}
/* End of Input Text Component */

/* List Component */
.data-card {
  @apply p-3 border-primary overflow-auto;
  background-color: var(--base-component-bg);
  max-height: 250px;
  border-radius: 20px;
  box-shadow: 0px 3px 12px 0px #00000017;
}

.data-card > li {
  @apply w-full py-1 px-2 rounded-lg;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--foreground);
}

.data-card > li:hover {
  background-color: var(--base-component-bg-hover);
}

.data-card > li.no-results {
  text-align: center;
}
/* End of List Component */
