.data-card {
  @apply p-3 border-primary overflow-auto;
  background-color: var(--base-component-bg);
  max-height: 250px;
  border-radius: 20px;
  box-shadow: 0px 3px 12px 0px #00000017;
}

.data-card > div {
  @apply w-full py-1 px-2 rounded-lg;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--foreground);
}

.data-card > div:hover {
  @apply cursor-pointer;
  background-color: var(--base-component-bg-hover);
}

.data-card > .no-results {
  text-align: center;
}
